.aboutContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.aboutInner {
  width: 93%;
}
.header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headerText {
  color: #0C0114;
  font-size: 22px;
  font-weight: 600;
}
.headerTextPrimary {
  color: #808080;
}
.banner {
  width: 100%;
}
.bannerImg {
  object-fit: cover;
  width: 100%;
}
.row {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1 {
  width: 50%;
  height: 80%;
}
.section2 {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: flex-end;
}
.s2Img {
  width: 80%;
  height: 50vw;
  max-height: 400px;
}
.s1Header {
  color: #0C0114;
  font-size: 38px;
  font-weight: 600;
  padding-bottom: 20px;
}
.s1Text {
  width: 75%;
}
@media only screen and (max-width: 768px) {
  .banner {
    height: 335px;
  }
  .bannerImg {
    height: 335px;
  }
  .row {
    flex-direction: column;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .section1 {
    width: 100%;
    height: 100%;
  }
  .section2 {
    width: 100%;
    height: 390px;
    align-items: center;
  }
  .s1Header {
    font-size: 26px;
  }
  .s1Text {
    width: 100%;
  }
  .s2Img {
    width: 100%;
    height: 320px;
  }
}