.headerContainer {
  width: 100%;
  height:77px;
  display: flex;
  background-color: white;
  align-items:center;
  flex-direction: column;
  position: fixed;
  z-index: 999;

}
.headerContainerMain {
  height: 77px;
  width: 100%;
  position: relative;
}
.headerInner {
  display: flex;
  width: 92%;
  height: 76px;
}
.menuDesktop {
  display: none;
  width: calc(85% - 96px);
  height: 100%;
  align-items: center;
  justify-content: center;
}
.menuInner {
  display: flex;
  width:90%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
  font-size: 14px;
}
.menuChild:hover {
  color:#3E0563 ;
  font-size: 16px;
  cursor: pointer;
}
.logo {
  height: 100%;
  display: flex;
  align-items: center;
  width: 96px;
}
.ctaDesktop {
  width: calc(25% - 96px);
  display: none;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
}
.login {
  background-color: #EEE8F2;
  height: 41px;
  width: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3E0563;
  cursor: pointer;
  text-align: center;
}
.signup {
  background-color: #3E0563;
  color: white;
  width: 130px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  margin-left: 20px;
}
.headerDivider {
  height: 1px;
  width: 100%;
  background-color: rgb(194, 192, 192);
  opacity: 0.3;
}
.menuMobile {
  display: flex;
  color: #3E0563;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.menuMobileContainer {
  display: flex;
  position: fixed;
  top: 70px;
  width: 100vw;
  height: 100vh;
  background-color: white;
  left: 0;
  justify-content: center;
  z-index: 3;
}
.menuMobileInner {
  width: 94%;
  height: 100%;
}
.mmChildItem {
  height: 70px;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.mmChildItem:hover {
  color:#3E0563 ;
}
@media only screen and (min-width: 769px) {
  .ctaDesktop {
    display:flex
  }
  .menuDesktop {
    display:flex;
  }
  .menuMobile {
    display: none;
  }
  .menuMobileContainer{
    display: none;
  }
}