.categoriesContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.categoriesInner {
  width: 93%;
}
.header {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headerText {
  color: #0C0114;
  font-size: 26px;
  font-weight: 600;
}
.categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
  margin-top: 30px;
}
.category {
  width: 50%;
  max-width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 168px;
}
.categoryInner {
  width: 90%;
  max-width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 2px 15px rgba(230, 230, 230, 0.5);
  border-radius: 8px;
}
.categoryIcon {
  height: 30%;  
}
.categoryTitle {
  height: 30%;
  color: #0C0114;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.categoryArrow {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
.row1 {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
