.twoContainer {
  width: 100%;
  height: 90vh;
  background: #1F0231;
  position: relative;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.twoImageEmbed {
  position: absolute;
  height: 90vh;
  width: 100%;
  top: 0;
}
.imageEmbed {
  height: 100%;
  width: 100vw;
  position: absolute;
  pointer-events: none;
}
.twoTitle {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
}
.targetsContent {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 34px;
  flex-wrap: wrap;
}
.targets {
  width: 48%;
  height: 50vh;
  max-width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.targetsInner {
  height: 45vw;
  width: 90%;
  max-height: 220px;
  border: 2px solid #9E82B1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.targetText {
  font-size: 16px;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .targets {
    max-height: 220px;
    width: 50%;
    height: 50vw;
    z-index: 1;
  }
  .twoContainer {
    max-height: 650px;
  }
  .twoImageEmbed {
    max-height: 650px;
  }
}