.nominateContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #1F0231;
  min-height: 100vh;
}
.nominateImage {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.nominateInner {
  width: 94%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  background-color: white;
}
.nominateMain {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.roumdCircleInner {
  width:220px;
  height:220px;
  border-radius:100%;
  border: 2px dashed #9E82B1;
  
}